<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <FORM METHOD=GET ACTION="http://www.localhost:8080/afficherheure">

	Ligne : <P>
	<TEXTAREA name="line"COLS=40></TEXTAREA> <P>
	Arret : <P>
	<TEXTAREA name="name"COLS=20></TEXTAREA> <P>
	<INPUT type="submit" value="Valider" style="position:relative;left:10">
	
	
	</FORM>
</body>
</html>